.main{
    margin: 4rem;
}

.heading p{
    width: 100%;
    text-align: center;
    font-family: Inria serif;
    font-size: 3rem;
    line-height: 2.9rem;
    font-weight: 300;
    color: #ffffff;
    margin: 3rem;
}

.cards{
    margin: 4rem;
    background-color: #181a20;
    border-radius: 20px;
    padding: 3rem;
    color: #ffffff;
}

img{
    height: 10rem;
    width: auto;
}