.main{
    background-color: #ffd938;
    margin: 8rem;
    padding-inline: 5rem;
    padding-block: 4rem;
    border-radius: 10rem;
}

.heading {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.heading h1{
    font-family: Inria serif;
    font-size: 3.4rem;
    line-height: 3.4rem;
    font-weight: 400;
    color: #181a20;
}

.heading p{
    font-size: 1.1rem;
    line-height: 1.7rem;
    letter-spacing: 0%;
    font-weight: 400;
    font-family: sans-serif;
    text-align: center;
    width: 75%;
    color: #1e2026;
    
}

.heading button{
    color: #fcd535;
    padding-block: 0.5rem;
    padding-inline: 1.5rem;
    font-size: 1.2rem;
    line-height: 1rem;
    background-color: #000000;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    margin-top: 1rem;
}

@media (min-width:1800px){
    .main{
        margin: 10rem;
        padding-inline: 5rem;
        padding-block: 10rem;
        border-radius: 22rem;
    }

    .heading{
        gap: 2rem;
    }

    .heading h1{
        font-size: 7rem;
        line-height: 6.9rem;
    }

    .heading p{
        font-size: 2rem;
        line-height: 2.5rem;
    }

    .heading button{
        font-size: 2.3rem;
        padding-block: 2rem;
        padding-inline: 3.5rem;
        border-radius: 50px;
    }
}

@media (max-width:64rem){
    .main{
        margin: 6rem;
        margin-block: 6rem;
        padding-inline: 4rem;
        padding-block: 3rem;
    }

    .heading h1{
        font-size: 3rem;
        line-height: 2.9rem;
    }

    .heading p{
        font-size: 1rem;
        width: 85%;
    }
}

@media (max-width:768px){
    .main{
        margin: 4rem;
        padding-inline: 3rem;
        padding-block: 2rem;
        border-radius: 8rem;
    }

    .heading {
        gap: 0.7rem;
    }

    .heading h1{
        font-size: 2.5rem;
        line-height: 2.4rem;
    }

    .heading p{
        font-size: 0.8rem;
        line-height: 1rem;
    }

    .heading button{
        padding-block: 0.5rem;
        padding-inline: 1.5rem;
        font-size: 1rem;
        line-height: 1rem;
        margin-top: 0.5rem;
    }
}

@media (max-width:500px){
    .main{
        margin: 2rem;
        padding-inline: 2rem;
        padding-block: 1rem;
    }

    .heading h1{
        font-size: 1.7rem;
        line-height: 1.6rem;
    }

    .heading p{
        font-size: 0.7rem;
        line-height: 0.9rem;
    }

    .heading button{
        padding-block: 0.3rem;
        padding-inline: 1.2rem;
        font-size: 0.8rem;
        line-height: 0.9rem;
        margin-top: 0.5rem;
    }
}