.main{
    background-color: #181a20;
    margin-inline: 6rem;
    padding: 2rem;
    color: #ffffff;
    border-radius: 20px;
    
}

.heading p{
    font-size: 3rem;
    line-height: 2.9rem;
    font-weight: 100;
    text-align: center;
    font-family: serif;
}

.lists{
    margin-block: 3rem;
    margin-inline: 2.5rem;
}

.headline{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

}

.header{
    position: relative;
}

.line{
    position: absolute;
    bottom: 0;
    left: 0;
    height: 1px;
    width: 100%;
    background: linear-gradient(to right, transparent, #ffe67d, transparent);
}


.headline h1{
    font-size: 1.2rem;
    line-height: 1.1rem;
    font-weight: 400;
    height: 2rem;
    padding-top: 1rem;
}

.headline img{
    height: 1rem;
    cursor: pointer;
    transition: 0.3s;
    margin-right: 4rem;
}

.points p{
    font-family: sans-serif;
    width: 90%;
    font-size: 0.9rem;
    line-height: 1rem;
    font-weight: 400;
    letter-spacing: 1px;
    color: #848e9c;
    margin-top: 5px;
}

.points{
    margin-top: 0.5rem;
}